/* Container */
.donors-containers {
    /* max-width: 900px; */
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: auto;
}

/* Title */
.title {
    text-align: center;
    color: #d32f2f;
    margin-bottom: 20px;
}

/* Search Filters */
.search-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Add Button */
.add-user {
    background-color: #6e45e2;
    color: white;
    border: none;
    padding: 0.6em 1em;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.add-user:hover {
    background-color: #5a3bb5;
}

/* Table */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: hsl(256, 73%, 58%);
    color: white;
    text-align: center;
}

tr:hover {
    background-color: #f1f1f1;
}

.donor-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.eit-btn,
.trash-btn {
    border: none;
}

.trash-btn {
    color: #f82727;
}


/* Responsive */
@media (max-width: 768px) {
    .search-filters {
        flex-direction: column;
        align-items: center;
    }

    input,
    select {
        width: 100%;
    }
}